---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Acerca de esta madre</h1>
		<p>
			Esto es parte del mendigo tutorial introductorio de Astro. Estamos en una
			segunda pagina.
		</p>
		<p>
			El sitio se ira actualizando poco a poco aunque a nadie le importe lo quepase aqui!
		</p>
	</body>
</html>
