---
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Este es un subtitulo (H2)</h2>
	<Greeting client:load messages={["Hey", "Quiubo", "Que tal", "Hola"]} />
</BaseLayout>